:root {
    --link-hover-color: #c2f23c;
}

.lc-text-block_size_s42 {
    color: #fff;
}

#tabs-text .lc-text-block_bpsize_s28 {
    color: #fff;
}

.lc-text.lc-text_column_l.lc-text_width {
    margin-top: 179px;
}

.lc-tabs__container-wrapper {
    background: #282828 !important;
}

body {
    background-color: #282828;
}

.service_turbo-lpc .lc-section {
    max-width: 1200px;
}

.lc-tabs {
    justify-content: center;
}

#tabs-text .lc-text-block h1 {
    width: 658.21px;
    height: 80px;
    letter-spacing: normal;
    margin-left: 19.1%;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;

}

#tabs-text {
    display: grid;
    justify-content: space-around;
}



#tabs-text .lc-text p {
    stroke-width: 1068.54px;
    word-wrap: break-word;
    white-space: pre-line;
}

#tabs-text .lc-text-block p {
    margin-top: 20px;
}

#tabs-text .lc-text-block_bpsize_s28 {
    line-height: 32px;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

#tabs-text .lc-text-block p {
    width: 1068.54px;
    height: 68px;
}




.service_turbo-lpc .lc-section {
    max-width: 1440px;
}

.lc-text.lc-text_column_l.lc-text_width {
    margin-top: 122px;
}


.lc-section .lc-tabs__container-wrapper {
    height: 400px;
}

.lc-tabs__tab .lc-text-block_bpsize_s28 {
    width: 333.26px;
    height: 32px;
    padding-top: 32px;
    padding-left: 55.88px;

}

#tabs .lc-tabs__tab {
    width: 445px;
    height: 360px;
    border-radius: 16px;
    padding-top: 32px;
    padding: 35px 0px 0px 0px;
    margin: 0px 6px 0px 6px;
}

.lc-tabs__tab_align_left .lc-tabs__icon {
    padding-right: 0px;
}



#tabs {
    display: flex;
    align-content: center;
    justify-content: center;
}

#tabs .lc-tabs__tab .lc-text-block_bpsize_s28 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

}

.lc-header-lpc__wrapper_border {
    background-color: #282828;
    border: 0px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .12)
}

.lc-navigation-menu__item {
    padding-right: 35px;

}

#tabs-content .lc-text-block_bpsize_s28 {
    font-size: 30px;
    color: #fff;
}

#tabs-content .lc-features__items .lc-features__col_3 {
    background-color: #fff;
    width: 445px;
    height: 163px;
    padding: 40px 32px 40px 32px;
    border-radius: 16px;
}

#tabs-content .lc-features__items {
    gap: 20px;
    height: 348px;
    width: 1375px !important;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
    margin-left: 8px;
}

#tabs-content .lc-features__item-wrap_feature-back {
    padding: 0px;
}

.lc-navigation-menu .lc-navigation-menu__link_active {
    color: #fff;
}

.lc-navigation-menu {
    color: #fff;
}

.lc-navigation-menu .lc-navigation-menu__link:hover {
    color: #c2f23c
}

#tabs-content .lc-tabs__gradient.lc-tabs__gradient_right {
    display: none;
}

#tabs-content .lc-tabs__gradient {
    display: none;
}

.lc-tabs__icon {
    width: 300px;
    height: 250px;
}

.lc-features__base-wrapper {
    max-width: none;
}


#cards-title {
    display: flex;
    width: 708.16px;
    height: auto;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#cards-title .lc-text.lc-text_column_l.lc-text_width {
    --text-width: 85% !important;
}

#cards-title .lc-text-block h1 {
    font-family: Roboto;
    font-size: 42px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

#cards-group [data-spacer-id="image"] {

    background-color: #282828;
}

#cards-group .lc-features__item {
    background-color: #282828 !important;
}

#cards .lc-text-block_bpsize_s24 {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: -4rem;
    font-size: 30px;
    line-height: 32px;
    font-family: Roboto;
    font-weight: 500;
}

#cards .lc-features_inited .lc-features__image {
    top: 0px;
}

#cards {
    width: 1376px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

#cards .lc-features__item {
    width: 445px;
    height: 240px;
    border-radius: 16px;
    padding: 0;
}


#tabs,
#cards,
#cards-title,
#faq {
    padding: 30px 0 30px 0 !important;
}


#tabs-text .lc-offsets {
    margin-bottom: -100px !important;
}

#tabs-content {
    margin-top: -25px;

}

#tabs {
    padding-bottom: 0px;
    margin-bottom: -130px
}

#cards-title .lc-offsets {
    width: 708.16px;
    height: 80px;
}

#cards-title {
    padding-bottom: 75px !important;
    margin-top: -55px;
}

#cards .lc-offsets {
    padding-bottom: 0px !important;
}

#faq .lc-offsets {
    padding-top: 38px !important;
    padding-bottom: 38px !important;
}


#cards .lc-features__base-wrapper {
    padding: 0px;
}

#cards .lc-features__items {
    gap: 20px;
    margin: 0;
}


#cards .lc-features__back-side .lc-styled-text {
    color: #282828;
    background-color: #fff;
    width: 381px;
    height: 160px;
}


.lc-section .lc-tabs__container-wrapper {
    display: flex;
    justify-items: stretch;
    align-content: space-evenly;
    align-items: center;
}

.lc-section .lc-tabs__tab {
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 10px;

}

.lc-tabs__icon {
    width: 300px;
}

.lc-tabs__gradient {
    display: none;
}

.lc-section .lc-tabs__tab .lc-text-block {
    text-align: center;
}

.lc-tabs__arrow {
    display: none;
}

.lc-tabs__arrow {
    display: none;
}

.lc-section {
    padding: 0px;
}

.lc-tabs__tab .lc-styled-text__text_align_left {
    text-align: center;
}

.lc-tabs__tab .lc-text-block_bpsize_s28 {
    color: #fff;
}


.lc-tabs__tab.lc-tabs__tab_theme_textWithIcon {
    border: 3px solid transparent;
    transition: 0.2s;
    border-radius: 16px;
}

#tabs-content .lc-text-block_bpsize_s20 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

#tabs-content .lc-text-block_bpsize_s24 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;

}

#tabs-content .lc-features__description {
    padding-top: 6px;
}

#header {
    max-width: none;
}

#cards .lc-features__back-side .lc-features__scrollable {
    width: 445px;
    height: 240px;
    padding: 40px 32px 40px 32px !important;
    gap: 10px;
    border-radius: 16px;
    background-color: #fff;
}



#cards {
    padding-bottom: 81px;
}



#faq .lc-spoiler_align_center .lc-spoiler__items {
    margin-right: 10px;
    margin-left: 15px;
}

#faq .lc-styled-text__text {
    color: #fff;
}



.lc-footer-columns__bottom-level {
    justify-content: center;
}

.lc-footer-columns-copyright {
    color: #C2F23C;
}

#icon-faq-arrow {
    display: none;
}

#faq {
    padding-bottom: 5%;
}

#faq .lc-icon {
    color: #C2F23C !important;
}


@media (hover: hover) {
    a:hover {
        color: #C2F23C !important;
    }
}

.lc-header-lpc__menu {
    padding: 20px 0px 10px;
}

#icon-burder {
    display: none;
}

@media only screen and (max-width: 1400px) {
    .service_turbo-lpc .lc-section {
        max-width: none;
        width: 100%;
    }

    .service_turbo-lpc .lc-section {
        max-width: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }


    #tabs-content .lc-features__items {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 1300px) {

    .lc-header-lpc__menu {
        margin-right: 50px;
    }

    #faq {
        width: 100%;
        padding-left: 0;
    }

    .service_turbo-lpc .lc-section {
        padding-right: 0px;
        padding-left: 0px;
    }

    #tabs .lc-tabs__tab {
        width: calc(445px - 40px);

    }

    #tabs-content .lc-features__items .lc-features__col_3 {
        width: calc(445px - 40px);
    }


    #cards .lc-features__item {
        width: calc(445px - 40px);
        height: calc(240px - 20px) !important;
        border-radius: 16px;
        padding: 0;
    }

    #cards .lc-features__back-side .lc-features__scrollable {
        width: calc(445px - 40px) !important;
        height: calc(240px - 20px) !important;
        padding: 40px 32px 40px 32px !important;
        gap: 10px;
        border-radius: 16px;
        background-color: #fff;
    }

    #cards .lc-features__back-side .lc-styled-text {
        color: #282828;
        background-color: #fff;
        width: 342px !important;
        height: 160px !important;
    }

    #cards .lc-text-block_bpsize_s24 {
        top: -4.5rem
    }

    .lc-section .lc-tabs__container-wrapper {
        justify-content: center;
    }

    .lc-tabs__tab .lc-text-block_bpsize_s28 {
        padding-left: 40.88px;
    }

    #tabs-content .lc-features__items {
        justify-content: flex-start;
        margin-left: 10px;
    }
}


@media only screen and (max-width: 1200px) {
    .lc-tabs__tab .lc-text-block_bpsize_s28 {
        width: 333.26px;
        height: 32px;
        padding-left: 17.88px;

    }

    #tabs .lc-tabs__tab {
        width: calc(445px - 80px);
        height: calc(360px - 10px);
    }


    #tabs-content .lc-features__items .lc-features__col_3 {
        width: calc(445px - 80px);
    }

    #cards .lc-features__item {
        width: calc(445px - 80px);
        height: calc(240px - 35px) !important;
    }

    #cards .lc-features__back-side .lc-features__scrollable {
        width: calc(445px - 80px) !important;
        height: calc(240px - 40px) !important;
        padding: 40px 25px 40px 25px !important;
    }

    #cards .lc-features__back-side .lc-styled-text {
        width: 318px !important;
        height: 160px !important;
    }

    #cards .lc-text-block_bpsize_s24 {
        top: -5.5rem;
    }

}


@media only screen and (max-width: 1100px) {

    .lc-header-lpc__menu {
        margin-right: 310px;
    }

    .lc-tabs__tab .lc-text-block_bpsize_s28 {
        padding-left: 0;
    }

    #tabs .lc-tabs__tab {
        width: calc(445px - 120px);
        height: calc(360px - 10px);
    }

    .lc-section .lc-tabs__container-wrapper {
        justify-content: center;
    }

    #tabs-content .lc-features__items .lc-features__col_3 {
        width: calc(445px - 110px);
    }

    #cards .lc-features__item {
        width: calc(445px - 115px);
        height: calc(240px - 55px) !important;
    }

    #cards .lc-features__back-side .lc-features__scrollable {
        width: calc(445px - 110px) !important;
        height: calc(240px - 60px) !important;
        padding: 40px 25px 40px 25px !important;
    }

    .lc-tabs__icon {
        width: 255px;
    }

    #tabs-content .lc-features__items {
        width: 1320px !important;

    }

    #tabs-content {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        margin-left: 0;
    }

    #tabs-content .lc-features__items .lc-features__col_3 {
        width: calc(445px - 120px);
    }

    #cards .lc-text-block_bpsize_s24 {
        top: -6rem;
    }

    #cards .lc-features__back-side .lc-features__scrollable {
        width: calc(445px - 115px) !important;
        height: calc(240px - 60px) !important;
        padding: 30px 25px 30px 25px !important;
    }

    #cards .lc-features__back-side .lc-styled-text {
        width: 300px !important;
        height: 160px !important;
    }
}

@media only screen and (max-width: 768px) {

    .lc-header-lpc__right:before {
        content: url(./icon-burger.svg);
    }

    .lc-icon {
        display: none;
    }

    .lc-header-lpc .lc-header-lpc__menu {
        display: none;
    }

    .lc-header-lpc-burger__menu-background_theme_light {
        background-color: #282828;
    }

    .lc-header-lpc-burger__link-content .lc-styled-text {
        color: #fff;
        margin-top: 20px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 2px;
        margin-left: 10px;

    }

    .lc-header-lpc__right {
        padding-right: 40px;
    }

    .lc-text.lc-text_column_l.lc-text_width {
        margin-top: 100px;
    }

    #tabs-content .lc-text-block_bpsize_s24,
    #faq .lc-text-block_size_s24 {
        font-size: 20px;
    }

    #tabs-content .lc-text-block_bpsize_s20,
    #faq .lc-text-block_bpsize_s20 {
        font-size: 18px;
    }

    #cards .lc-text-block_bpsize_s24,
    .lc-text-block_bpsize_s28 {
        font-size: 22px;
    }

    .lc-text-block_size_s42 {
        font-size: 28px;
    }

    .lc-text.lc-text_column_l.lc-text_width {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .lc-tabs__icon {
        width: 180px;
        height: 160px;
    }

    .lc-tabs__tab.lc-tabs__tab_theme_textWithIcon {
        margin: 4px;
    }

    .lc-tabs_with-paddings .lc-tabs__tab {
        padding: 20px 5px;
    }

    .lc-features__items {
        justify-content: center;
    }

    #tabs-content .lc-features__items .lc-features__col_3 {
        margin: 10px;
        width: 47%;
    }

    #cards .lc-features__back-side .lc-styled-text {
        font-size: 18px;
    }

    #cards .lc-features__items .lc-features__col_3 {
        width: 50%;
    }

    #tabs-text {
        margin-bottom: -90px;
    }

    #cards-title {
        margin-top: -50px;
    }

    #faq .lc-styled-text__text {
        text-align: justify;
    }

    #faq {
        padding: 10% 3% 20% 3%;
    }

    #faq .lc-spoiler-item__header {
        padding: 2em 0 0.4em;
    }

    .lc-tabs__underline-container {
        height: auto;
    }
}

@media only screen and (max-width: 370px) {
    .lc-section .lc-tabs__tab {
        width: 92%;
        display: block;
    }

    .lc-navigation-menu {
        display: block;
    }

    .lc-header-lpc__right {
        padding-right: 10px;
    }

    .lc-tabs__tab.lc-tabs__tab_theme_textWithIcon:hover {
        max-width: 92%;
    }

    #tabs-content .lc-features__items .lc-features__col_3 {
        width: 100%;
    }

    #cards .lc-features__items .lc-features__col_3 {
        width: 100%;
        height: 210px;
    }

    #cards .lc-text-block_bpsize_s24 {
        top: -8rem;
    }

    #cards .lc-features__back-side .lc-styled-text {
        height: calc(169px - 15px);
    }

    #cards-title .lc-styled-text__text {
        width: 200%;
        margin-left: -85px;
        margin-bottom: -35px;
    }


}